.font-size-35 {
    font-size: 35px;
}

.font-size-11 {
    font-size: 11px;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-horizontal-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-horizontal-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-responsive-customers {
    background-color: white;
    box-shadow: 0px 10px 5px -6px rgba(160, 160, 160, 0.24);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-view-main-responsive-customers {
    background-color: white;
    width: 100%;
    height: 130px;
}

.image-logo-store-responsive-customers {
    width: 170px;
    height: 83px;
    margin-left: 5px;
}

.button-navbar-filter-responsive-customers {
    width: 45px;
    height: 45px;
    padding: 0px !important;
    border: none;
    background-color: white;
}

.button-navbar-filter-responsive-customers:focus {
    outline: 0;
}

.button-user-responsive-customers {
    width: 45px;
    height: 45px;
    padding: 0px !important;
    border: none;
    background-color: white;
}

.button-user-responsive-customers:focus {
    outline: 0;
}

.input-search-product-responsive-customers {
    width: 350px;
    height: 38px;
    border: 1px solid rgba(156, 156, 156, 0.815);
    padding-left: 10px;
}

.input-search-product-responsive-customers::placeholder {
    color: rgba(179, 179, 179, 0.836);
}

.input-search-product-responsive-customers:focus {
    outline: 0;
}

.button-categories-responsive-customers {
    background-color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 5px;
    font-weight: 800;
    width: 100px;
    height: 32px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.button-categories-responsive-customers:focus {
    outline: 0;
}

.hr-vertical {
    border-right: 1px solid black;
    height: 30px;
}

.button-bag-complete-order-responsive-customers {
    background-color: #FBF38C;
    height: 45px;
    width: 100px;
    padding-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.image-bag-complete-order-responsive-customers {
    height: 38px;
    width: 42px;
}

.text-bag-complete-order-responsive-customers {
    right: 54px;
    top: 34px;
    font-weight: 700;
    position: absolute;
    font-size: 12px;
}

.text-bag-complete-order-main-responsive-customers {
    right: 30px;
    top: 18px;
    font-weight: 700;
    position: absolute;
    font-size: 12px;
}

.button-select-search-option-responsive-customers {
    width: 200px;
    height: 80px;
    background-color: white;
    border: none;
}

.button-select-search-option-responsive-customers:focus {
    outline: 0;
    box-shadow: inset -5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-select-search-option-cat-responsive-customers {
    width: 200px;
    height: 80px;
    background-color: white;
    border: none;
}

.button-select-search-option-cat-responsive-customers:focus {
    outline: 0;
    box-shadow: inset 5px 6px 5px 0px rgba(0, 0, 0, 0.15);
}

.color-blue {
    color: #3a6193;
}

.padding-horizontal-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.button-search-cat-responsive-customers {
    border-radius: 10px !important;
    border: 1px solid rgb(153, 153, 153) !important;
    font-size: 16px;
    width: 150px;
    height: 35px;
    background-color: white;
    font-size: 14px;
}

.background-menus-responsive-customers {
    z-index: 300;
    position: absolute;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.style-menu-categories-responsive-customers {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.show {
    display: block;
}

.hr-tab {
    border-bottom: 1px solid rgb(134, 134, 134);
}

.padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.scrollhorizontal-responsive-customers {
    width: calc(100% - 40px);
    margin: 20px;
    overflow-x: scroll;
    padding-bottom: 10px;
    margin-top: 15px !important;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-button {
    width: 5px !important;
    height: 5px !important;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border: 10px none #ffffff;
    border-radius: 85px;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-thumb:hover {
    background: #d6d6d6;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-thumb:active {
    background: #c2c2c2;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-track {
    background: #ffffff;
    border: 10px none #ffffff;
    border-radius: 78px;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-track:active {
    background: #d1d1d1;
}

.scrollhorizontal-responsive-customers::-webkit-scrollbar-corner {
    background: transparent;
}

.img-items-products-responsive-customers {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    cursor: pointer;
}

.img-items-products-responsive-customers:hover {
    border: 1px solid black;
}

.img-items-products-add-responsive-customers {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.like-size-responsive-customers {
    top: 70px;
    left: 70px;
    height: 65px;
    width: 65px;
}

.button-add-responsive-customers {
    border-radius: 5px;
    color: rgb(18, 155, 18);
    margin-left: 10px;
    background-color: white;
    height: 38px;
    border: 1px solid rgba(170, 170, 170, 0.76);
    width: 100px;
    font-size: 15px;
}

.discount-responsive-customers {
    background-color: black;
    color: white;
    border-radius: 5px;
    bottom: 75px;
    left: 5px;
    height: 20px;
    width: 50px;
}

.background-grey-galery-responsive-customers {
    height: 450px;
    width: 100%;
}

.color-yellow-star {
    color: #F9A533;
}

.padding-horizontal-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.img-items-galery-responsive-customers {
    height: 90px;
    width: 85px;
    border-radius: 5px;
    background-position: 50%;
    background-size: 100% auto;
    border: 1px solid rgb(144, 144, 144);
    margin: 5px;
    background-color: none;
}

.button-galery-options-responsive-customers {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    height: 25px;
    width: 55px;
    padding-top: 5px;
    margin-left: 10px;
}

.box-add-product-gallery-responsive-customers {
    background-color: #FBF38C;
    height: 60px;
    width: 180px;
    border-radius: 5px;
    cursor: pointer;
}

.size-shopping-bag-responsive-customers {
    height: 40px;
    width: 40px;
}

.font-size-18 {
    font-size: 18px;
}

.img-items-gallery-relation-responsive-customers {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    margin: 5px;
}

.image-bag-gallery-order-responsive-customers {
    height: 38px;
    width: 38px;
    position: relative;
}

.text-bag-gallery-order-responsive-customers {
    right: 57px;
    top: 118px;
    font-weight: 700;
    position: absolute;
    font-size: 12px;
}

.text-bag-basket-order-responsive-customers {
    right: 55px;
    top: 34px;
    font-weight: 700;
    position: absolute;
    font-size: 12px;
}

.style-menu-log-in-responsive-customers {
    background-color: white;
    padding-top: 0px;
    height: 440px;
}

.input-log-in-responsive-customers {
    width: 330px;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
}

.input-log-in-responsive-customers:focus {
    outline: 0;
}

.icon-view-password-responsive-customers {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 22px;
    color: rgb(160, 160, 160);
}

.padding-horizontal-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.color-black {
    color: black;
}

.button-log-in-user-responsive-customers {
    height: 50px;
    width: 100%;
    border: none;
    background-color: #FBF38C;
    margin-top: 78px;
    font-size: 18px;
    font-weight: 700;
}

.button-select-log-in-responsive-customers {
    height: 60px;
    background-color: white;
    border: none;
    z-index: 5;
}

.button-select-log-in-responsive-customers:focus {
    outline: 0;
    box-shadow: inset -5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.button-select-record-responsive-customers {
    height: 60px;
    background-color: white;
    border: none;
    z-index: 5;
}

.button-select-record-responsive-customers:focus {
    outline: 0;
    box-shadow: inset 5px 6px 5px 0px rgba(0, 0, 0, 0.15);
}

.style-menu-record-responsive-customers {
    background-color: white;
    padding-top: 0px;
    height: 800px;
}

.font-size-25 {
    font-size: 25px;
}

.input-register-address-responsive-customers {
    width: 183px;
    height: 50px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
}

.input-register-address-responsive-customers:focus {
    outline: 0;
}

.buttons-input-register-address-responsive-customers {
    width: 320px;
    height: 50px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: grey;
}

.padding-horizontal-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.font-weight-600 {
    font-weight: 600;
}

.buttons-address-responsive-customers {
    height: 50px;
    width: 300px;
    border: none;
    background-color: #FBF38C;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 700;
}

.icons-view-gallery-top-responsive-customers {
    width: 42px;
    height: 42px;
}

.menu-my-orders-responsive-customers {
    background-color: white;
    padding-bottom: 0px;
    height: 130px;
}

.navbar-menu-orders-responsive-customers {
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}

.menu-my-orders-active-responsive-customers {
    background-color: white;
    padding-bottom: 0px;
    height: 600px;
    width: 100%;
}

.buttons-menu-orders-responsive-customers {
    border: none;
    background-color: white;
    padding-bottom: 10px;
    font-size: 18px;
    width: 120px;
    cursor: pointer;
}

.buttons-menu-orders-responsive-customers:focus {
    outline: 0;
    border-bottom: 3px solid #7AC0E5;
}

.card-menu-orders-responsive-customers {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    width: 300px;
    height: 120px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.menu-filter-responsive-customers {
    padding: 40px;
    padding-top: 30px !important;
    overflow: scroll;
}

.font-size-8 {
    font-size: 8px;
}

.button-filter-responsive-customers {
    border-radius: 5px;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    background-color: white;
}

.button-filter-responsive-customers:focus {
    outline: 0;
}

.button-filter-responsive-customers:active {
    background-color: #3a6193;
}

.font-size-20 {
    font-size: 20px;
}

.color-grey-dollar {
    color: rgb(146, 145, 145);
}

.width-200 {
    width: 200px;
}

.buttons-categories-filter-responsive-customers {
    background-color: white;
    height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    color: grey;
    border: none;
    font-size: 15px;
    margin-right: 10px;
}

.buttons-categories-filter-responsive-customers:focus {
    border: 1px solid rgb(116, 116, 116);
    border-radius: 5px;
    outline: 0;
}

.button-apply-filter-responsive-customers {
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #45B771;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
    margin-top: 55px;
}

.box-shadow-bottom {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 2px;
}

.icon-close-basket-responsive-customers {
    width: 35px;
    height: 35px;
}

.img-items-products-basket-responsive-customers {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
}

.box-discount-basket-responsive-customers {
    background-color: black;
    color: white;
    border-radius: 20px;
    bottom: 110px;
    left: 5px;
    height: 20px;
    width: 60px;
    font-size: 14px;
}

.icon-plus-minus-basket-responsive-customers {
    width: 35px;
    height: 35px;
}

.like-size-basket-responsive-customers {
    top: 90px;
    left: 90px;
    height: 70px;
    width: 70px;
}

.button-complete-basket-responsive-customers {
    border: none;
    width: 250px;
    height: 50px;
    background-color: #FBF38C;
    padding-left: 20px;
    padding-right: 20px;
}

.image-items-complete-order-responsive-customers {
    min-width: 130px;
    max-width: 130px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-position: 50%;
    background-size: 100% auto;
    margin-right: 15px;
}

.box-discount-complete-order-responsive-customers {
    background-color: black;
    color: white;
    border-radius: 20px;
    bottom: 85px;
    right: 85px;
    height: 20px;
    width: 50px;
    font-size: 14px;
}

.like-size-complete-order-responsive-customers {
    top: 105px;
    left: 90px;
    height: 60px;
    width: 60px;
}

.icono-cash-responsive-customers {
    height: 45px;
    width: 65px;
}

.button-make-to-order-responsive-customers {
    border: none;
    background-color: #FBF38C;
    height: 45px;
    width: 280px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 60px;
}

.padding-vertical-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.width-100 {
    width: 100px;
}

.button-change-complete-order-respomsive-customers {
    height: 40px;
    border: 1px solid rgb(153, 153, 153);
    background-color: white;
    color: #3AB048;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.font-size-15 {
    font-size: 15px;
}

.icons-select-cards-payment-method-responsive-customers {
    height: 55px;
    width: 75px;
}

.icons-cards-payment-method-responsive-customers {
    height: 70px;
    width: 70px;
}

.padding-40 {
    padding: 40px;
}

.padding-20 {
    padding: 20px;
}

.padding-vertical-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-add-card-responsive-customers {
    width: 330px;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    padding-left: 10px;
}

.input-add-card-responsive-customers::-webkit-input-placeholder {
    color: rgb(156, 156, 156);
}

.box-input-add-card-responsive-customers {
    width: 250px !important;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    margin-right: 15px;
}

.width-250 {
    width: 250px;
}

.input-address-in-responsive-customers {
    height: 35px;
    width: 320px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
    padding-left: 10px;
}

.button-current-location-responsive-customers {
    border: 2px solid #3ab04869;
    height: 45px;
    width: 350px;
    border-radius: 5px;
    margin-top: 30px;
}

.button-select-address-responsive-customers {
    height: 25px;
    width: 25px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.button-select-address-responsive-customers:focus {
    outline: 0;
    background-color: black;
}

.font-size-16 {
    font-size: 16px;
}

.logo-store-vertical-responsive-customers {
    height: 210px;
    width: 220px;
}

.color-grey {
    color: rgb(139, 139, 139);
}

.padding-vertical-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-vertical-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-enter-coupon-checkout-responsive-customers {
    width: 230px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    padding-left: 10px;
}

.input-enter-coupon-checkout-responsive-customers::-webkit-input-placeholder {
    color: rgb(158, 158, 158);
}

.input-enter-coupon-checkout-responsive-customers:focus {
    outline: 0;
}

.button-enter-coupon-checkout-responsive-customers {
    width: 110px;
    height: 42px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    color: #3DAE49;
    font-weight: 600 !important;
    cursor: pointer;
}

.button-enter-coupon-checkout-responsive-customers:focus {
    outline: 0;
}

.buttons-select-type-coupon-responsive-customers {
    background-color: white;
    border: none;
    width: 160px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.buttons-select-type-coupon-responsive-customers:focus {
    outline: 0;
    border-bottom: 2px solid black;
}

.image-coupon-responsive-customers {
    width: 30px;
    height: 30px;
}

.width-60 {
    width: 60px;
}

.train-status-responsive-customers {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 390px;
}

.padding-vertical-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.radio-item {
    display: inline-block;
    position: relative;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label:before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(236, 235, 235);
    cursor: pointer;
}

.radio-item input[type=radio]:checked+label:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px)!important;
    left: calc(50% - 5px)!important;
    content: "";
    background: black;
}

.radio-item input[type=radio]:checked+label:before {
    background: #FFF284;
}

.font-size-17 {
    font-size: 17px;
}

.button-save-card-responsive-customers {
    width: 150px;
    height: 52px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 45px;
    background-color: #FBF38C;
}

.button-save-card-responsive-customers:focus {
    outline: 0;
}

.padding-horizontal-15 {
    padding-left: 15px;
    padding-right: 15px;
}